{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>North Indian Dinner</title>
  <link rel="stylesheet" href="{% static 'css/north_indian_dinner.css' %}">
</head>
<body class="night">
  <div class="container">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="#"><p id="id1">Home</p></a></li>
          <li><a class="navbar-link" href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link"  onclick="https://img.icons8.com/office/2x/add-shopping-cart.png" href="{% url 'restaurant_app:ordered_item' %}"><img src="https://img.icons8.com/office/2x/add-shopping-cart.png" height="30px"><span id="cart1"></span></a></li>
        </ul>
      </nav>
  </div>
  <div class="container">
    <div class="jumbotron">
     <div class="row">
      {% for item in about %}
        {% if forloop.counter <= 3 %}
             <div class = "col-sm-6 col-md-4">
               <div class="thumbnail">
                <img class="picture" src="{{ item.image.url }}">
                <div class="caption">
                  <h3 class="text-center" id="item{{item.id}}">{{item.name}}</h3>
                  <p class="text-center" id="item1{{item.id}}">{{item.rupees}}</p>
                  <p class="text-center"><a href="#" class="btn btn-success" onclick="additem('{{item.id}}')" role="button">Order Now</a></p>
                </div>
              </div>
              </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      {% for item in about %}
        {% if forloop.counter >= 4 %}
             <div class = "col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="{{ item.image.url }}" class="img-fluid mb-2">
                <div class="caption">
                  <h3 class="text-center" id="item{{item.id}}">{{item.name}}</h3>
                  <p class="text-center"  id="item1{{item.id}}">{{item.rupees}}</p>
                  <p class="text-center"><a href="#" class="btn btn-success" onclick="additem('{{item.id}}')" role="button">Order Now</a></p>
                </div>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
  <div class="col-md-4 orders">
    <h2 class="text-center"></h2>
    <ul id="cart"></ul>
    <h4 class="text-right" id="total"></h4>
  </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/order.js' %}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
